
h1 {
    width: 50%;
    text-align: center;
    padding: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
}

button {
    background-color: aqua;
    border-radius: 12px;
    padding: 14px 40px;
    font-size: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    
}

div {
    position: center; 
    flex: center;
}
